html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.clearfix::after {
display: table;
content: "";
clear: both;
}
.page-header {
    margin: 0 auto;
    line-height: 90px;
    height: 90px;
}
main {
     background-color: rgb(233, 240, 253); 
}
.logo {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #767577;
    margin: 0;
    padding: 0;
}
.logo::first-letter {
    font-size: 30px;
    font-weight: bold;
    color: #1abc9c;
}
.site-navigation {
    list-style: none;
    min-width: 475px;
    margin: 0;
    padding: 0;
    float: right;
}
.site-navigation a:hover {
    color: #1abc9c;
}
.link-nav {
    display: block;
    font-family: "Open Sans", sans-serif; 
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}
.site-item {
    float: left;
}
.site-navigation li:not(:last-child) {
    margin-right: 30px;
} 
.container {
    margin: 0 auto;
    width: 1110px;
}
.section {
    padding-bottom: 95px;
    position: relative;
}
.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}
.h2 { 
    margin: 0;
    padding: 0;
    padding-bottom: 36px;
    text-transform: uppercase;
    color: white;
    font-family: "Myriad Pro", sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section2 {
    position: relative;
    background-color: rgb(233, 240, 253);
}
.new-collection {
    margin: 0;
    padding-bottom: 120px;
    text-transform: uppercase;
    text-align: center;
    color: #515151;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 48px;
} 
.new-collection::after {
    content: "";
    display: block;
    width: 160px;
    height: 7px;
    background-color:#1abc9c;
    margin: 30px auto;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-item {
    position: relative;
    display: block;
    float: left;
} 
.list li:not(:last-child) {
    margin-right: 30px;
}
.item1 div {
    float: left;
}
.item1 {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #323232;
}
.product-name {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    width: 201px;
    height: 40px;
}
.product-price {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    width: 54px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
}
.overlay {
        position: absolute;
        border-width: 10px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        background-color: rgb(0, 0, 0);
        opacity: 0;
        width: 255px;
        height: 282px;
        /* z-index: 25;      */
}
.list-item:hover .overlay {
    opacity: 0.7;
}
.icons-list {
    position: absolute;
    left: 34px;
    top: 77px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.icons {
    display: block;
    width: 50px;
    height: 50px;
    border-color: white;
    border: 1px;
    background-color: #1abc9c;
    float: left;
    margin-bottom: 7px;
}
.icons-list li:not(:last-child) {
    margin-right: 9px;
}
.box {
    position: absolute;
    display: block;
    width: 168px;
    height: 50px;
    border-color: white;
    border: 1px;
    background-color: pink;
    top: 137px;
    left: 34px;
}
.footer {
    position: relative;
    height: 90px;
    background-color: rgb(50, 50, 50);
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(254, 254, 254);
  }
  .span {
      color:  #1abc9c;
  }
  .info {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  
  