$main-font: "Montserrat", sans-serif;
$secondary-font: "Kaushan Script", cursive;
$third-font: "Roboto", sans-serif;
$yellow: #fce38a;
$pink: #f38181;
$white: #ffffff;
$dark-grey: #333333;
$light-grey: #999999;
$button-blue: #95e1d3;
$border-grey: #e5e5e5;
